<% cache [I18n.locale, current_user, cache_key_for_all(Country)] do %>
  <h1>Listing Countries</h1>

  <table class="pure-table pure-table-horizontal">
    <thead>
      <tr>
        <th>Name</th>
        <th>Url prefix</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @countries.each do |country| %>
        <tr>
          <td><%= country.name %></td>
          <td><%= country.url_prefix %></td>
          <td><%= link_to 'Show', country, class: policy(country).show? ? 'pure-button':'pure-button pure-button-disabled' %></td>
          <td><%= link_to 'Edit', edit_country_path(country), class: policy(country).edit? ? 'pure-button':'pure-button pure-button-disabled' %></td>
          <td><%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' }, class: policy(country).destroy? ? 'pure-button':'pure-button pure-button-disabled' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Country', new_country_path, class: policy(Country.new).new? ? 'pure-button':'pure-button pure-button-disabled' %>
<% end %>
